
.barra-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.divisao{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barra-superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    
}

.sugestoes{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 10;
    justify-content:space-between;
    
}

.logo{
    width: 80px;
    margin: 30;
}

.material-icons{
    color: rgb(13, 13, 13);
}

.inferior{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.imagem{
    border-radius: 10px;
    width: 200px;
}

input{
    background-color: lightgray;
    border: none;
    border-radius: 3px;
    width: 800px;
	padding: 10px;

    
}
