
.divisao{
    display: flex;
    flex-direction: row;
}

.barra-lateral{
    flex: 1;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icone-logo{
    align-items: flex-start;
    width: 90px;
    margin: 30;
  
}
.icones{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 30px;
}

.configuracoes {
    display: flex;
    justify-content: center;
}
    
.barra-superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.sugestoes{
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
}


.inferior{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.imagem{
    border-radius: 10px;
    width: 200px;
}

input{
    font-size: 18px;
    background-color: lightgray;
    border: none;
    border-radius: 3px;
    width: 800px;
	padding: 10px;
}
